body {
    overflow: hidden;
    background: #06bcc1;
}

.container {
    border: 5px solid orange;
    width: 95%;
    height: 95vh;
    display: flex;
    text-align: center;
}
.mainclick{
    text-align: center;
}
.firstclass{
    border: 10px solid #f4d1ae;
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: grey;
   background-color: #f4edea;
}

.firstclass p, .firstclass h3 {
    font-size: 1.5rem;

}
.firstclass p{
    animation: changecolor 10s infinite alternate;
}

@media(max-width:480px){
    .firstclass p, .firstclass h3 {
        font-size: 1rem;
    }
}

@keyframes changecolor{
    0%{
        color: blue;
    }
    20%{
        color: red;
    }
    40%{
        color: green;
    }
    60%{
        color: rgb(38, 49, 212);
    }
    80%{
        color: rgb(9, 6, 54);
    }
    100%{
        color: brown;
    }
}


